html, body {
    margin:auto;
    padding:0;
    border:0;
    width:98%;
    background:#FFFFFF;
    font-size:90%;
    font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
	height: 100%;
}

a {
    color:#00f;
    text-decoration:none;
}

a.menu {
    padding-left:5px;
    padding-right:5px;
}
a:hover {
    color:#50f;
}
h1, h2, h3 {
    margin:.8em 0 .2em 0;
    padding:0;
}
h1 {
    font-size:99%;
    text-align:center;
}
h2 {
    font-size:90%;
}
h3 {
    font-size:85%;
}
p {
    margin:.4em 0 .8em 0;
    padding:0;
}
img {
    margin:10px 0 5px;
    border:0;
}
#header {
    height:auto;
    width:100%;
    padding: 0px;
    margin: 0px;
    border-bottom:1px solid #CCCCCC;
}

#wrapper {
	height: auto;
	min-height: 90%;
}

#footer {
	position:relative;
	bottom:0px;
	height:auto;
    width:100%;
}
#footer p {
    padding:10px;
    margin:0;
    text-align:center;
    font-size:0.8em
}

#menu {
    float:right;
    padding-bottom:1px;
    padding-left:1px;
}

#menu a {
    background:transparent url(IMG/fmenu.gif) repeat-x scroll left bottom;
    background-attachment: scroll;
    background-color: transparent;
    color:#000;
    display:table-cell;
    position:relative;
    vertical-align:middle;
    font-weight:bolder;
    border-right:1px solid #CCCCCC;
    font-size: 13px;
    height: 16px;
    line-height: normal;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 6px;
    white-space: nowrap;
    width: 40px;

}
#menu a.izq {
   border-left:1px solid #CCCCCC;
}

#secc_categorias {
    text-align:center;
    font-size:90%;
    border-bottom:1px solid #CCCCCC;
    margin:5px;
}

#secc_categorias a {
    white-space: nowrap;
    color:#000;
}

#secc_categorias a:hover {
    color:#00f;
}

#secc_categorias .item_cat {
    display:inline;
    line-height:25px;
    margin-right:3px;
    padding:2px;
    background:transparent url(IMG/fmenu.gif) repeat-x scroll left bottom;
    border:1px solid #CCCCCC;
    vertical-align:middle;
}

#secc_categorias .item_cat_todos {
    clear:both;
}

#secc_articulos {
    background-color:#eeeef8;
    padding:10px;
}

.explicacion {
background-color:#EEE;
margin:.8em 0 .2em 0;
}

.ventas li {
font-size:12px;
font-weight:bold;
}

#error
	{background-color:#F00;border:2px solid #000;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#FFF;text-align:center}
#error:before
	{content:'Error: '}
#info
	{background-color:#F4F4F4;border:2px solid #000000;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#000000;text-align:center}
#info:before
	{content:"Información: "}
#nota
	{background-color:#CCCCFF;border:2px solid #000000;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#000000	;text-align:center}
#nota:before
	{content:"Nota: "}

/* Para la lista de articulos */
.articulo {
width:100%;
height:auto;
border-collapse:collapse;
border:1px solid #111;
padding:0;
margin:0;
}

.articulo .imagen {
background-color:none;
color:#fff;
width:102px;
min-width:102px;
height:102px;
padding:1px;
margin:0;
border:0;
}

.articulo .imagen img {
padding:0;
margin:0;
border:0;
}

.articulo .detalle {
vertical-align:top;
width:100%;
height:100%;
}

.articulo .titular {
border:0;
border-collapse:collapse;
padding:0;
margin:0;
width:100%;
height:auto;
}

.articulo .titular .titulo {
background-color:#DDD;
color:#000;
width:80%;
padding:0.1%;
font-weight:bold;
}

.articulo .titular .precio {
background-color:#EEE;
color:#F00;
width:20%;
text-align:right;
padding:0.1%;
font-weight:bolder;
}

.articulo .desc {
float:left;
background-color:#DDD;
color:#000;
width:99.8%;
padding:0.1%;
height:100%;
}
