html, body {
    margin:0 auto;
    padding:0;
    border:0;
    width:98%;
    background:#FFF;
    font-size:90%;
    font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
    height: 100%;
}

a {
    color:#00f;
    text-decoration:none;
}

a.menu {
    padding-left:5px;
    padding-right:5px;
}
a:hover {
    color:#50f;
}
h1, h2, h3 {
    margin:.8em 0 .2em 0;
    padding:0;
}
h1 {
    font-size:99%;
    text-align:center;
}
h2 {
    font-size:90%;
}
h3 {
    font-size:85%;
}
p {
    margin:.4em 0 .8em 0;
    padding:0;
}
img {
    border:0;
}

#wrapper {
    height: auto;
    min-height: 90%;
}

#header {
    min-height: 10%;
    width:100%;
    top:0px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom:1px solid transparent;
}

#header #logotipo {
    width:115px;
    float:left;
}

#footer {
    position:relative;
    bottom:0px;
    height:auto;
    width:100%;
}
#footer p {
    padding:10px;
    margin:0;
    text-align:center;
    font-size:0.8em
}

#header #menu {
    float:right;
    padding-left:1px;
    width:auto;
    white-space: nowrap;
}

#header #menu a {
    background:transparent url(IMG/fmenu.gif) repeat-x scroll left bottom;
    background-attachment: scroll;
    background-color: transparent;
    color:#000;
    display:table-cell;
    position:relative;
    vertical-align:middle;
    font-weight:bolder;
    border-right:1px solid #CCCCCC;
    font-size: 13px;
    height: 16px;
    line-height: normal;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 6px;
    white-space: nowrap;
    width: 40px;

}

#header #menu a.izq {
   border-left:1px solid #CCCCCC;
}

#secc_categorias {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    display:block;
    border:2px solid #80A0FF;
    background-color:#FFF;
    text-align:center;
    font-size:90%;
    margin-top:5px;
    margin-bottom:5px;
    padding:5px;
}

#secc_categorias a {
    white-space: nowrap;
    color:#000;
}

#secc_categorias a:hover {
    color:#00f;
}

#secc_categorias .item_cat {
    display:inline;
    line-height:25px;
    margin-right:3px;
    padding:2px;
    background:transparent url(IMG/fmenu.gif) repeat-x scroll left bottom;
    border:1px solid #CCCCCC;
    vertical-align:middle;
}

#secc_categorias .item_cat_todos {
    clear:both;
}

#secc_categorias #ver_categorias {
    float:right;
}
#secc_articulos, #secc_general {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border:2px solid #80A0FF;
    background-color:#FFF;
    padding:10px;
}

.explicacion {
background-color:#EEE;
margin:.8em 0 .2em 0;
}

.ventas li {
font-size:12px;
font-weight:bold;
}

#error
    {background-color:#F00;border:2px solid #000;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#FFF;text-align:center;margin-top:5px;margin-bottom:5px;}
#error:before
    {content:'Error: '}
#info
    {background-color:#F4F4F4;border:2px solid #000000;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#000000;text-align:center;margin-top:5px;margin-bottom:5px;}
#info:before
    {content:"Información: "}
#nota
    {display:block;background-color:#CCCCFF;border:2px solid #000000;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#000000;text-align:center;margin-top:5px;margin-bottom:5px;}
#nota:before
    {content:"Nota: "}

/* Para la lista de articulos */
.articulo {
width:100%;
height:auto;
border-collapse:collapse;
border:0;
padding:0;
margin:0;
}

.promocionado {
border:2px dashed #80A0FF;
}

.articulo .imagen {
background-color:none;
color:#fff;
width:102px;
min-width:102px;
height:102px;
padding:1px;
margin:0;
border:0;
}

.articulo .imagen img {
padding:0;
margin:0;
border:0;
}

.articulo .detalle {
vertical-align:top;
width:100%;
height:100%;
}

.articulo .titular {
border:0;
border-collapse:collapse;
padding:0;
margin:0;
width:100%;
height:auto;
}

.articulo .titular .titulo {
background-color:#DDD;
color:#000;
width:80%;
padding:0.1%;
font-weight:bold;
}

.articulo .titular .precio {
background-color:#EEE;
color:#F00;
width:20%;
text-align:right;
padding:0.1%;
font-weight:bolder;
}

.articulo .titular .ubicacion {
text-align:left;
font-weight:bolder;
background-color:#CCC;
}

.articulo .desc {
background-color:#DDD;
color:#000;
text-align:left;
padding:0.1%;
}

.articulo .adm {
background-color:#CCC;
color:#FFF;
font-weight:bolder;
text-align:left;
padding:0.1%;
}

.articulo .adm a {
color:#FFF;
}

.ancha {
width:100%;
border-collapse:collapse;
}

.ancha th {
text-align:left;
}

.ancha td {
text-align:left;
border:1px solid #111;
padding:3px;
}

.publicacion_descripcion {
    display:block;
    margin:0 auto;
    border:2px solid #80A0FF;
    background-color:#FFF;
    text-align:left;
    font-size:90%;
    padding:5px;
    width:98%;
}

.cuadro_importante {
    display:block;
    margin:10px auto;
    border:2px solid #AB464E;
    background-color:#FFF;
    text-align:left;
    font-size:90%;
    padding:5px;
    width:98%;
}

#prev_pub {
    border:2px solid #F00;
    padding: 5px;
}

#area_consulta {
    margin:0 auto;
    width:100%;
}

#area_consulta table{
    width:100%;
}

#area_consulta table #trbtn{
    text-align:right;
}

#tabla_consultas{
    table-layout: fixed;
}

#tabla_consultas .col1{
    width:10%;
}

#tabla_consultas .col2{
    width:70%;
    overflow:hidden;
}

#tabla_consultas .col3{
    width:20%;
}

#tabla_consultas .respuesta .col1, #tabla_consultas .respuesta_privada .col1 {
    font-weight:bolder;
}

#tabla_consultas .respuesta, #tabla_consultas .respuesta_privada {
    border-bottom:2px solid #000;
}

#tabla_consultas .respuesta_privada{
    background-color:#E0E6FF;
}

#tabla_consultas .pregunta{
    background-color:#F3FCFE;
}

#tabla_consultas .pregunta_privada{
    background-color:#80A0FF;
}

#tabla_consultas tr{
    margin-bottom:10px;
}

#tabla_consultas .txtRespuesta{
    width:99%;
}
#tabla_consultas #envio{
    text-align:right;
}

.auto_mostrar{
display:none;
}

.centrado{
text-align:center;
}
